
*{
font-family: verdana;

padding: 0;
box-sizing: border-box;

}
/* the header style */
header{
 
    margin-top: 50px;
    background-color: rgb(176, 229, 211);
    text-align: center;
    color:rgb(72, 63, 63);
    padding-top: 50px;
    padding-bottom: 10px;
}
/* style the list inside the header*/
ul{
    display: flex;
    justify-content: space-around;    
}
li{

    list-style: none;
}
a{
text-decoration: none;
color: rgb(143, 89, 89);
}

/*--------
first container
*/
section {
    
    background-color: rgb(245, 244, 241);
    padding: 5px;
    padding-bottom: 3px;
    height: 400px;
    display: flex;
    justify-content:space-around ;


}
.firstP {
    
   
  
    height: 50%;
    
    margin-top: 50px;
    background-color: rgb(246, 248, 240);
    font-size: small;
    display: flex;
    flex-direction: column; flex-wrap: wrap;

   
}

#pic-me {
  justify-content: center;
  height: 200px;
  float: left;
  padding: 10px;
}
/*inside first container has 3 flex boxes*/
.perent{
    width: 30%;
    height: 75%;
    border: 3px solid rgb(236, 231, 231);
    background-color: white;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;

}
/* pictures items inside flex box  */
.child1 img  {
    width: 100px;
    height: 90px;
    margin-top: 20px;
   justify-content: space-around;
   
     
}

/*------------set fixed footer in the buttom = position fixed*/
#footer {
    position: fixed;
    background-color: rgb(170, 165, 165);
    
    text-align: center;
    color: white;
    width: 100%;
    height: 50px;
    left:0;
    bottom: 0;

}